Flask
Flask-CORS
python-dotenv
langchain
langchain-openai
langchain-community
langchain-experimental
langchain-core
langchain-neo4j
openai
neo4j
psycopg2-binary
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytesseract
Pillow
scikit-learn
numpy
pydantic
typing-extensions
requests
tqdm
pydrive2
fastapi
uvicorn
gunicorn
tiktoken
jupyterlab
py2neo
fitz
pymupdf
yfiles_jupyter_graphs
faiss-cpu
fuzzywuzzy
python-Levenshtein
pypdf
json-repair
