flask
flask-cors
python-dotenv
langchain
langchain-openai
langchain-community
langchain-experimental
langchain-core
neo4j
pydrive2
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
scikit-learn
numpy
psycopg2-binary
pydantic

