flask
flask-cors
python-dotenv
langchain
langchain-openai
langchain-community
langchain-experimental
langchain-core
neo4j
pydrive2
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
scikit-learn
numpy
psycopg2-binary
pydantic
fastapi 
uvicorn
gunicorn
langchain
langchain-openai
langchain-core
langchain-community
langchain-experimental
openai
python-dotenv
tiktoken
jupyterlab
flask
pydrive2 
py2neo 
fitz 
pymupdf
google-auth-oauthlib 
google-auth
neo4j
tiktoken
yfiles_jupyter_graphs
faiss-cpu
fuzzywuzzy
python-Levenshtein
pypdf
flask-cors
Flask
flask-cors
python-dotenv
openai
langchain
langchain-community
langchain-openai
langchain-experimental
pydantic
numpy
scikit-learn
neo4j
json-repair
psycopg2-binary
